extends layout

block content

  h1 Highscores
  .highscore-container
    ol
      for item in highscores.easy
        li(style='margin-right: 1px;')= item.player 
          span= item.score



    table
      thead
        tr
          th Name
          th Score
      tbody
        tr
          td
            for item in highscores.medium
              p= item.player
          td
            for item in highscores.medium
              p= item.score
    table
      thead
        tr
          th Name
          th Score
      tbody
        tr
          td
            for item in highscores.hard
              p= item.player
          td
            for item in highscores.hard
              p= item.score
    table
      thead
        tr
          th Name
          th Score
      tbody
        tr
          td
            for item in highscores.redonk
              p= item.player
          td
            for item in highscores.redonk
              p= item.score
  a(href="/")
    button.home-button-highscore Go Home
